<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>

    <meta name="description" content="Phil Cryer is an open source technologist and privacy advocate with a passion for art and music">
    <meta name="google-site-verification" content="1XTyfc36unozrUN6T1quFRGlEk8UD_dCpp_inAj4Lic"> 
    <meta name="description" content="Phil Cryer"> 
    <meta name="verify-v1" content="HxQBBBwNroFINuNyYvBeq3378zLVbb3VPzpmHUPKDi4="> 
    <link rel="license" href="//creativecommons.org/about/cc0/" title="CC0 — No Rights Reserved"> 
    <link rel="icon" href="img/favicon.ico"> 
    <link rel="shortcut icon" href="img/favicon.ico"> 

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
